---
---
@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap";

body {
  background-image: url(../img/bg.png);
  background-repeat: repeat;
}

abbr[title] {
  text-decoration: none;
}

b,
strong {
  font-weight: 700;
}

.site-header {
  padding-top: $spacer-y * 3;
  padding-bottom: $spacer-y * 3;


}

.navbar-light {
  .navbar-brand {
    color: $gray-dark;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    text-transform: uppercase;

    @include hover-focus {
      color: $brand-primary;
      text-decoration: none;
    }
  }

  .navbar-brand,
  .navbar-nav {
    text-shadow: 0 .1rem 0 #fff;
  }

  .navbar-toggler {
    background-color: #fff;
  }
}

.site-footer {
  color: lighten($gray-light, 15%);
  text-shadow: 0 1px 0 rgba(#000, .3);
  background-color: $gray-dark;
  padding-top: $spacer-y * 3;
  padding-bottom: $spacer-y * 3;
}

.jumbotron-home {
  background-color: $gray-dark;

  h1 {
    color: $gray-lightest;
    text-shadow: 0 .1rem .1rem rgba(#000, .6);

    strong {
      color: #fff;
      font-weight: inherit;
    }
  }
}

.form-control-label {
  color: $headings-color;
  font-weight: 700;
}

.client-list {
  @extend .list-inline;
}

.client-item {
  @extend .list-inline-item;
}

#other-services {
  @include media-breakpoint-up(sm) {
    article {
      &:first-child {
        text-align: left;
      }
      &:last-child {
        text-align: right;
      }
    }
  }
}

.project-list {
  @include list-unstyled;
  @include make-row;
  margin-bottom: 0;
}

.project-item {
  @include make-col(12);
  padding-right: $grid-gutter-width-base / 2;
  padding-left: $grid-gutter-width-base / 2;

  @include media-breakpoint-up(md) {
    @include make-col(6);
  }

  @include media-breakpoint-up(xl) {
    @include make-col(4);
  }
}

.card-project {
  height: 0;
  padding-bottom: percentage(9 / 16);
  border: 0;
  overflow: hidden;

  .card-img-overlay {
    text-shadow: 0 .1rem .1rem rgba(#000, .6);
    background-color: rgba(#000, .6);
    opacity: 1;
    box-shadow: inset 0 0 5rem rgba(#000, .3);
    @include transition(opacity .3s);
  }

  .card-title {
    font-size: $font-size-h4;

    @include media-breakpoint-up(md) {
      font-size: $font-size-h3;
    }

    @include media-breakpoint-up(lg) {
      font-size: $font-size-h2;
    }
  }

  @include plain-hover-focus {
    .card-title {
      color: #fff;
    }

    .card-text {
      color: rgba(#fff, .6);
    }
  }

  @include hover-focus {
    .card-img-overlay {
      opacity: 0;
    }
  }
}

.card-service {
  @extend .card-project;

  .card-title {
    @include media-breakpoint-up(xl) {
      font-size: $font-size-h1;
    }
  }
}
