html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1 .text-muted {
  color: #555;
}

abbr[title] {
  border-bottom: none;
}

.site-header {
  text-align: center;
  padding: 40px 0;
}

.site-header a {
  color: #333;
  text-transform: uppercase;
}
.site-header a:hover,
.site-header a:focus {
  color: #c00;
  text-decoration: none;
}

.site-title {
  font-weight: 500;
  line-height: 34px;
  background: url(../img/logo@1x.png) no-repeat 0 50%;
  display: inline-block;
  margin-bottom: 20px;
  padding-left: 43px;
}

.site-footer {
  color: #777;
  background: #222 url(../img/footer-bg.png) repeat-x 50% 0;
  margin-top: 10px;
  padding: 45px 0 30px;
}
.site-footer a {
  color: #999;
}
.site-footer a:hover,
.site-footer a:focus {
  color: #c0c0c0;
}
.site-footer strong {
  color: #999;
  font-weight: inherit;
}

.site-footer .legal {
  margin-bottom: 0;
}

.site-navigation {
  margin-bottom: 0;
}
.site-navigation .btn-primary,
.site-navigation .btn-primary:hover,
.site-navigation .btn-primary:focus {
  color: #fff;
}
.site-navigation .btn-primary {
  position: relative;
  top: -1px;
}

.page-header,
.page-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
.page-header {
  background-color: #222;
  margin-bottom: 20px;
  padding: 20px 0;
}
.page-title {
  color: #eee;
  font-weight: 300;
}

.jumbotron-home {
  color: #eee;
  background: url(../img/jumbotron-bg.jpg) repeat 50% 50%;
  position: relative;
  margin-bottom: 0;
  padding: 60px 0 75px;
}
.jumbotron-home h1 {
  font-weight: 300;
  text-shadow: 0 1px 1px rgba(0,0,0,.75);
  margin-top: 0;
  margin-bottom: 0;
}
.jumbotron-home h1 strong {
  color: #fff;
  font-weight: inherit;
}

.jumbotron-home:before,
.jumbotron-home:after {
  content: ' ';
  background-repeat: repeat-x;
  position: absolute;
  right: 0;
  left: 0;
  display: block;
}
.jumbotron-home:before {
  background-image: url(../img/jumbotron-top.png);
  top: 0;
  height: 20px;
}
.jumbotron-home:after {
  background-image: url(../img/jumbotron-bottom.png);
  bottom: 0;
  height: 35px;
}

.project-list {
  margin: 0 -20px;
}

.project-item {
  text-align: center;
  margin-bottom: 30px;
  padding: 0 15px;
}
.project-item a:hover,
.project-item a:focus {
  text-decoration: none;
}

.project-thumbnail {
  position: relative;
  display: block;
  margin-bottom: 10px;
}
.project-thumbnail img {
  display: block;
  margin: 0 auto;
}
.project-thumbnail .overlay {
  color: #ccc;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.75);
  background-color: rgba(51,51,51,.85);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  opacity: 0;
  box-shadow: inset 0 0 100px rgba(0,0,0,.75);
  transition: opacity .25s ease-in-out  ;
}
.project-thumbnail:hover .overlay {
  opacity: 1;
}
.project-thumbnail .overlay .project-name {
  color: #eee;
  font-size: 18px;
  font-weight: 700;
  margin-top: 0;
}

.project-item a .project-category {
  color: #c00;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}
.project-item a:hover .project-category,
.project-item a:focus .project-category {
  color: #900;
}

.home-section {
  padding: 30px 0;
}
.home-section h1 {
  margin-top: 0;
  margin-bottom: 20px;
}

.home-section-inverse {
  color: #eee;
  text-shadow: 0 1px 1px rgba(0,0,0,.75);
  background-color: #222;
}
.home-section-inverse h1 {
  color: #fff;
}
.home-section-inverse .btn {
  text-shadow: none;
}

.home-section-vod .btn-cta {
  margin-top: 10px;
}

.project-name {
  margin-top: 0;
}

.project-details {
  text-align: center;
  margin: 0 auto;
}

.post-headline {
  margin-top: 0;
}

.post-meta {
  color: #777;
  margin-bottom: 10px;
}

.post-content figure {
  display: block;
  margin: 20px -15px;
}
.post-content figcaption {
  font-size: 85%;
  font-style: italic;
  display: block;
  margin-top: 5px;
  padding: 0 15px;
}

.post-content img {
  display: block;
  width: 100%;
  max-width: 100%;
}

@media (min-width: 500px) {
  .project-item {
    width: 50%;
    float: left;
  }
}

@media (max-width: 600px) {
  .site-navigation li:first-child {
    display: none;
  }
}

@media (max-width: 767px) {
  .home-section-vod .col-sm-6:last-child {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .site-title {
    float: left;
    margin-bottom: 0;
  }

  .site-navigation {
    float: right;
  }

  .site-footer .contact-details {
    margin-left: -5px;
  }
  .site-footer .contact-details > li {
    display: inline-block;
    padding: 0 5px;
  }
  .site-footer .contact-details .fa-li {
    position: static;
    left: auto;
    width: auto;
    padding-right: 3px;
  }

  .jumbotron-home h1 {
    font-size: 36px;
  }

  .project-details {
    max-width: 750px;
    margin-top: -10px;
  }

  .project-description {
    font-size: 16px;
  }

  .post-primary {
    padding-left: 160px;
  }

  .post-meta {
    text-align: right;
    width: 160px;
    margin-bottom: 0;
    margin-left: -160px;
    padding-right: 30px;
    float: left;
  }

  .post-published,
  .post-author {
    display: block;
  }

  .post-author:first-letter {
    text-transform: capitalize;
  }

  .post-content blockquote,
  .post-content figure {
    margin-right: 0;
    margin-left: -160px;
  }

  .post-content blockquote {
    width: 50%;
    margin-bottom: 0;
    float: left;
  }

  .post-content figcaption {
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .project-item:nth-child(odd) {
    clear: left;
  }
}

@media (min-width: 992px) {
  .site-footer .copyright {
    float: left;
  }
  .site-footer .contact-details {
    float: right;
  }

  .project-item {
    width: 33.33%;
  }
  .project-item:nth-child(3n+1) {
    clear: left;
  }

  .project-details {
    margin-top: -15px;
  }
}

@media (min-width: 1200px) {
  .project-details {
    margin-top: -20px;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .site-title {
    background-image: url(../img/logo@2x.png);
    background-size: 35px 30px;
  }
}

@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
  .site-title {
    background-image: url(../img/logo@3x.png);
    background-size: 35px 30px;
  }
}
