---
excerpt: "Professional wrestling web design. Over 10 years’ experience. Making wrestling websites better."
image:
  path: /img/pages/wrestling-web-design/twitter-card.jpg
layout: default
permalink: /wrestling-web-design/
static_header: true
title: Wrestling Web Design | Your Fight Site
twitter:
  card: summary_large_image
---
<header class="jumbotron jumbotron-fluid jumbotron-web-design mb-5">
  <div class="jumbotron-body">
    <div class="container">
      <div class="row justify-content-center justify-content-md-start text-center text-md-left">
        <div class="col-10 col-md-8 col-lg-6">
          <h1 class="mb-2 text-white">Professional web design for professional wrestling promotions.</h1>
          <p class="lead mb-4">We have over 10 years’ experience designing websites for wrestling promoters like you.</p>
          <a class="btn btn-primary" data-toggle="modal" data-services="web-design" href="#quote">
            <span class="btn-text">Get a free quote now</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="section mb-5" id="features">
  <div class="container">
    <div class="row mb-3">
      <article class="col-md-6">
        <div class="media">
          <div class="media-left pr-3">
            <div class="fa-lg text-primary">
              <span class="fas fa-fw fa-palette"></span>
            </div>
          </div>
          <div class="media-body">
            <h1 class="h5 mb-1">Custom website design</h1>
            <p>Get a professionally-designed website created just for your professional wrestling promotion.</p>
          </div>
        </div>
      </article>
      <article class="col-md-6">
        <div class="media">
          <div class="media-left pr-3">
            <div class="fa-lg text-primary">
              <span class="fas fa-fw fa-calendar-alt"></span>
            </div>
          </div>
          <div class="media-body">
            <h1 class="h5 mb-1">Events</h1>
            <p>Easily manage your calendar of upcoming events, as well as add results for your past events.</p>
          </div>
        </div>
      </article>
      <article class="col-md-6">
        <div class="media">
          <div class="media-left pr-3">
            <div class="fa-lg text-primary">
              <span class="fas fa-fw fa-ticket-alt" data-fa-transform="rotate-135"></span>
            </div>
          </div>
          <div class="media-body">
            <h1 class="h5 mb-1">Tickets</h1>
            <p>Sell tickets to upcoming events. Then check attendees in on show day using our mobile check-in app. <span class="small text-muted text-nowrap">Coming to iOS in 2019.</span></p>
          </div>
        </div>
      </article>
      <article class="col-md-6">
        <div class="media">
          <div class="media-left pr-3">
            <div class="fa-lg text-primary">
              <span class="fas fa-fw fa-luchador"></span>
            </div>
          </div>
          <div class="media-body">
            <h1 class="h5 mb-1">Roster</h1>
            <p>Help fans get to know your roster of wrestlers better with in-depth profiles, stats, social media links, media, and more.</p>
          </div>
        </div>
      </article>
      <article class="col-md-6">
        <div class="media">
          <div class="media-left pr-3">
            <div class="fa-lg text-primary">
              <span class="fas fa-fw fa-shopping-basket"></span>
            </div>
          </div>
          <div class="media-body">
            <h1 class="h5 mb-1">E-commerce</h1>
            <p>We don’t sell e-commerce as an add-on; it comes with every website. Increase revenue by selling your own merchandise.</p>
          </div>
        </div>
      </article>
      <article class="col-md-6">
        <div class="media">
          <div class="media-left pr-3">
            <div class="fa-lg text-primary">
              <span class="fas fa-fw fa-newspaper"></span>
            </div>
          </div>
          <div class="media-body">
            <h1 class="h5 mb-1">News</h1>
            <p>Keep fans updated on developments to fight cards, as well as breaking stories from your organisation.</p>
          </div>
        </div>
      </article>
      <article class="col-md-6">
        <div class="media">
          <div class="media-left pr-3">
            <div class="fa-lg text-primary">
              <span class="fas fa-fw fa-play-circle"></span>
            </div>
          </div>
          <div class="media-body">
            <h1 class="h5 mb-1"><abbr title="Video On Demand">VOD</abbr> integration</h1>
            <p class="mb-md-0">Because we have our own <a href="{% link video-on-demand.html %}">wrestling <abbr class="initialism" title="Video On Demand">VOD</abbr> platform</a>, we can seemlessly integrate your channel with your website.</p>
          </div>
        </div>
      </article>
      <article class="col-md-6">
        <div class="media">
          <div class="media-left pr-3">
            <div class="fa-lg text-primary">
              <span class="fas fa-fw fa-cloud-upload"></span>
            </div>
          </div>
          <div class="media-body">
            <h1 class="h5 mb-1">Cloud hosted</h1>
            <p class="mb-0">Your website is secure, backed up, and won’t go down during important ticket-selling periods.</p>
          </div>
        </div>
      </article>
    </div>
    <footer class="text-center">
      <a class="btn btn-primary" data-toggle="modal" data-services="web-design" href="#quote" >
        <span class="btn-text">Ready to get started?</span>
      </a>
    </footer>
  </div>
</section>

{% include web-design-pricing.html category="wrestling" setup_price="49" %}

<section class="section section-testimonial mb-5" id="testimonial">
  <div class="container">
    <header class="section-heading">
      <h1>What our customers say</h1>
    </header>
    <div class="section-content">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8">
          <blockquote class="blockquote blockquote-testimonial text-center mb-0">
            <p>Your Fight Site was <mark>a pleasure to work alongside with</mark> while creating our website, they <mark>understood what I wanted and needed</mark> right away, <mark>highly recommended</mark>.</p>
            <footer class="blockquote-footer">
              <span>Gary Ward</span>,
              <span>Wrestle Gate</span>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>

{% include latest-projects.html category="wrestling" %}
