---
excerpt: "Professional wrestling web design. Over 10 years’ experience. Making wrestling websites better."
image:
  path: /img/pages/wrestling-web-design/twitter-card.jpg
layout: default
permalink: /wrestling-web-design/
static_header: true
title: Wrestling Web Design
twitter:
  card: summary_large_image
---
<header class="jumbotron jumbotron-fluid jumbotron-static-header jumbotron-web-design mb-5">
  <div class="jumbotron-body">
    <div class="container">
      <div class="row justify-content-center justify-content-md-start text-center text-md-left">
        <div class="col-10 col-md-8 col-lg-6">
          <h1 class="mb-2 text-white">Professional web design for professional wrestling promotions.</h1>
          <p class="lead mb-4">We have over 10 years’ experience designing websites for wrestling promoters like you.</p>
          <a class="btn btn-primary" data-toggle="modal" data-services="web-design" href="#quote">
            <span class="btn-text">Get a free quote now</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="section mb-5" id="features">
  <div class="container">
    <div class="row">
      {% include feature.html icon="palette" title="Custom website design" description="Get a professionally-designed website created just for your professional wrestling promotion." %}
      {% include feature.html icon="calendar-alt" title="Events" description="Easily manage your calendar of upcoming events, as well as add results for your past events." %}
      {% include feature.html icon="ticket-alt" title="Tickets" description="Sell tickets to upcoming events. Then check attendees in on show day using our mobile check-in app." note="Coming to iOS in 2019." %}
      {% include feature.html icon="luchador" title="Roster" description="Help fans get to know your roster of wrestlers better with in-depth profiles, stats, social media links, media, and more." %}
      {% include feature.html icon="shopping-basket" title="E-commerce" description="We don’t sell e-commerce as an add-on; it comes with every website. Increase revenue by selling your own merchandise." %}
      {% include feature.html icon="newspaper" title="News" description="Keep fans updated on match developments, as well as breaking stories from your organisation." %}
      {% include feature.html icon="play-circle" title="VOD integration" description="Because we have our own wrestling VOD platform, we can seemlessly integrate your channel with your website." %}
      {% include feature.html icon="cloud-upload" title="Cloud hosted" description="Your website is secure, backed up, and won’t go down during important ticket-selling periods." %}
    </div>
    <footer class="text-center">
      <a class="btn btn-primary" data-toggle="modal" data-services="web-design" href="#quote">
        <span class="btn-text">Get a free quote now</span>
      </a>
    </footer>
  </div>
</section>

{% include web-design-pricing.html category="wrestling" setup_price="49" %}

<section class="section section-testimonial mb-5" id="testimonial">
  <div class="container">
    <header class="section-heading">
      <h1>What our customers say</h1>
    </header>
    <div class="section-content">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8">
          <blockquote class="blockquote blockquote-testimonial text-center mb-0">
            <p>Your Fight Site was <mark>a pleasure to work alongside with</mark> while creating our website, they <mark>understood what I wanted and needed</mark> right away, <mark>highly recommended</mark>.</p>
            <footer class="blockquote-footer">
              <span>Gary Ward</span>,
              <span>Wrestle Gate</span>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>

{% include latest-projects.html category="wrestling" %}
