<li class="client-item client-item-{{ include.name | slugify }}">
  {% if include.url %}
    <a class="client-link" data-toggle="tooltip" href="{{ include.url }}" rel="external" title="{{ include.name }}">
  {% else %}
    <span class="client-link" data-toggle="tooltip" title="{{ include.name }}"></span>
  {% endif %}
    {% if include.name == 'BAMMA' %}
      <abbr class="client-name initialism" title="British Association of Mixed Martial Arts">BAMMA</abbr>
    {% else %}
      <span class="client-name">{{ name }}</span>
    {% endif %}
  {% if include.url %}
    </a>
  {% else %}
    </span>
  {% endif %}
</li>
