<footer class="site-footer py-4" role="contentinfo">
  <div class="container text-center">
    <ul class="list-inline">
      <li class="list-inline-item mr-0 px-0">
        <a href="https://www.facebook.com/yourfightsite" rel="external noopener noreferrer" target="_blank" title="{{ site.title }} on Facebook">
          <span class="sr-only">{{ site.title }} on Facebook</span>
          <span class="fa-stack">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li class="list-inline-item mr-0 px-0">
        <a href="https://twitter.com/yourfightsite" rel="external noopener noreferrer" target="_blank" title="{{ site.title }} on Twitter">
          <span class="sr-only">{{ site.title }} on Twitter</span>
          <span class="fa-stack">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li class="list-inline-item mr-0 px-0">
        <a href="https://www.instagram.com/yourfightsite" rel="external noopener noreferrer" target="_blank" title="{{ site.title }} on Instagram">
          <span class="sr-only">{{ site.title }} on Instagram</span>
          <span class="fa-stack">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    </ul>
    <p class="copyright">&copy; {{ "now" | date: "%Y" }} Your Fight Site <abbr title="Limited">Ltd</abbr>. All rights reserved.</p>
    <p class="small mb-0">Registered in England &amp; Wales. Company <abbr title="number">&numero;</abbr> 10928224.</p>
  </div>
</footer>
