{% if page.messenger == true %}
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        xfbml: true,
        version: 'v3.2'
      });
    };
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_GB/sdk/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <div
    class="fb-customerchat"
    page_id="244234435463"
    ref="{{ page.messenger_ref | default: '' }}"
    logged_in_greeting="{{ page.messenger_logged_in_greeting | default: 'Hey, how can we help?' }}"
    logged_out_greeting="{{ page.messenger_logged_out_greeting | default: page.messenger_logged_in_greeting | default: 'Hey, how can we help?' }}"
    greeting_dialog_display="{{ page.messenger_greeting_dialog_display | default: 'hide' }}"
    greeting_dialog_delay="{{ page.messenger_greeting_dialog_delay | default: '0' }}"></div>
{% endif %}
