<aside id="other-services">
  <header class="text-center">
    <h1 class="h2">Other services</h1>
  </header>

  <div class="row">
    {% unless include.exclude == "Web Design" %}
      <article class="col-sm-6">
        <h1 class="h3">
          <a href="/web-design">Web Design</a>
        </h1>
      </article>
    {% endunless %}

    {% unless include.exclude == "Graphic Design" %}
      <article class="col-sm-6">
        <h1 class="h3">
          <a href="/graphic-design">Graphic Design</a>
        </h1>
      </article>
    {% endunless %}

    {% unless include.exclude == "Video On Demand" %}
      <article class="col-sm-6">
        <h1 class="h3">
          <a href="/video-on-demand">Video On Demand</a>
        </h1>
      </article>
    {% endunless %}

  </div>

</aside>
