<div class="modal fade" id="quote" tabindex="-1" role="dialog" aria-labelledby="quote-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="http://email.yourfightsite.com/t/r/s/kujhfj/" method="post">
        <div class="modal-header">
          <h4 class="modal-title" id="quote-label">Get quote</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="form-control-label" for="quote-email">Your email address:</label>
            <input type="email" name="cm-kujhfj-kujhfj" class="form-control" id="quote-email" placeholder="you@example.com" required />
            <small class="form-text text-muted">We will never share your email address or spam you.</small>
          </div>
          <div class="form-group mb-0">
            <label class="form-control-label">Services interested in:</label>
            <div>
              <label class="custom-control custom-checkbox">
                <input type="checkbox" name="cm-fo-drdkjlji" value="8796402" class="custom-control-input" />
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Web design</span>
              </label>
            </div>
            <div>
              <label class="custom-control custom-checkbox">
                <input type="checkbox" name="cm-fo-drdkjlji" value="8796403" class="custom-control-input" />
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Graphic design</span>
              </label>
            </div>
            <div>
              <label class="custom-control custom-checkbox">
                <input type="checkbox" name="cm-fo-drdkjlji" value="8796404" class="custom-control-input" />
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Video on demand</span>
              </label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Get quote</button>
        </div>
      </form>
    </div>
  </div>
</div>
