<ul class="list-inline mb-0">
  <li class="list-inline-item">
    <a class="btn btn-twitter btn-sm" href="https://twitter.com/intent/tweet?text={{ include.title | url_encode }}&amp;url={{ include.url | prepend: site.url | url_encode }}&amp;via={{ site.twitter.username }}" rel="external nofollow noopener" target="_blank">
      <span class="btn-icon fab fa-fw fa-twitter"></span>
      <span class="btn-text">Tweet</span>
    </a>
  </li>
  <li class="list-inline-item">
    <a class="btn btn-facebook btn-sm" href="https://www.facebook.com/sharer/sharer.php?u={{ include.url | prepend: site.url | url_encode }}" rel="external nofollow noopener" target="_blank">
      <span class="btn-icon fab fa-fw fa-facebook-f"></span>
      <span class="btn-text">Share</span>
    </a>
  </li>
  <li class="list-inline-item">
    <a class="btn btn-linkedin btn-sm" href="https://www.linkedin.com/shareArticle?url={{ include.url | prepend: site.url | url_encode }}&amp;mini=true&amp;title={{ include.title | url_encode }}&amp;source={{ site.title }}" rel="external nofollow noopener" target="_blank">
      <span class="btn-icon fab fa-fw fa-linkedin"></span>
      <span class="btn-text">Share</span>
    </a>
  </li>
</ul>
