<section class="section mb-5" id="pricing">
  <div class="container">
    <header class="section-heading mb-2">
      <h1>Pricing</h1>
    </header>
    <div class="text-center">
      <p>
        We’ve distilled our
        {% if include.category == 'wrestling' %}
          <strong>10+ years of wrestling web design experience</strong>
        {% else %}
          {% if include.category == 'mma' %}
            <strong>10+ years of <abbr class="initialism" title="Mixed Martial Arts">MMA</abbr> web design experience</strong>
          {% else %}
            {{ include.category }} web design experience
          {% endif %}
        {% endif %}
        into one easy-to-use platform.
      </p>
    </div>
    <div class="justify-content-center">
      <div class="web-design-pricing-wrapper mx-auto">
        <div class="row no-gutters">
          <div class="col-6 web-design-pricing-arrow">
            <div class="p-3 p-sm-4 h-100">
              <div class="web-design-pricing-item">Design and set-up</div>
              <div class="web-design-pricing-value">
                <span class="web-design-pricing-currency">&pound;</span><span class="web-design-pricing-amount"><span class="web-design-pricing-pounds">{{ include.setup_price | default: 99 }}</span></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="p-3 p-sm-4 h-100">
              <div class="web-design-pricing-item">Hosting</div>
            <div>
              <span class="web-design-pricing-value">
                <span class="web-design-pricing-currency">&pound;</span><span class="web-design-pricing-amount"><span class="web-design-pricing-pounds">4</span><span class="web-design-pricing-pence">.99</span></span>
              </span>
              <span class="web-design-pricing-interval"><span aria-label="per">/</span> month</span>
            </div>
            <div class="web-design-pricing-note small text-muted pt-1">Includes free platform updates</div>
          </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
