$enable-shadows: true;
$enable-animation: false;

$gray-dark: #22292f;
$gray: #3d4852;

$lead-font-weight: 400;

$brand-primary: #e3342f;

$body-color: $gray;

$text-muted: #8795a1;

$font-family-sans-serif: "Libre Franklin", sans-serif;

$headings-color: $gray-dark;
$headings-font-weight: 700;

$input-border-focus: $brand-primary;

$modal-backdrop-opacity: .8;

$thumbnail-padding: 0;
$thumbnail-bg: $gray;
$thumbnail-border-width: 1rem;
$thumbnail-border-color: #fff;
$thumbnail-border-radius: .1rem;
$thumbnail-box-shadow: 0 .1rem 1rem rgba(#000, .1);

$btn-font-weight: 500;
