@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "bootstrap-overrides";
@import "elements";
@import "pages";

.jumbotron-home {
  padding: 1.5rem;

  @include media-breakpoint-up(md) {
    padding: 2rem;
  }

  h1 {
    font-size: $h3-font-size;
    font-weight: 400;

    @include media-breakpoint-up(md) {
      font-size: $h2-font-size;
    }
  }
}

.project-list {
  @include list-unstyled;
  @include make-row;
  margin-bottom: 0;
}

.project-item {
  @include make-col(12);
  padding-right: $grid-gutter-width / 2;
  padding-left: $grid-gutter-width / 2;

  @include media-breakpoint-up(md) {
    @include make-col(6);
  }

  @include media-breakpoint-up(xl) {
    @include make-col(4);
  }
}

.card-project {
  height: 0;
  padding-bottom: percentage(9 / 16);
  border: 0;
  overflow: hidden;

  .card-img-overlay {
    text-shadow: 0 .1rem .1rem rgba($black, .6);
    background-color: rgba($black, .8);
    opacity: 1;
    box-shadow: inset 0 0 5rem rgba($black, .3);
    @include transition(opacity .3s);
  }

  .card-title {
    font-size: $h4-font-size;

    @include media-breakpoint-up(md) {
      font-size: $h3-font-size;
    }

    @include media-breakpoint-up(lg) {
      font-size: $h2-font-size;
    }
  }

  @include plain-hover-focus {
    .card-title {
      color: $white;
    }

    .card-text {
      color: rgba($white, .6);
    }
  }

  @include hover-focus {
    .card-img-overlay {
      opacity: 0;
    }
  }
}

.card-service {
  @extend .card-project;

  .card-img {
    width: 100%;
    height: auto;
  }

  .card-title {
    @include media-breakpoint-up(xl) {
      font-size: $h1-font-size;
    }
  }
}

.pricing {
  @include list-unstyled;
  @include clearfix;
  text-align: center;
  background-color: $card-bg;
  display: block;
  border: $card-border-width solid $card-border-color;
  border-radius: $card-border-radius;
  box-shadow: 0 .1rem .2rem rgba($black, .075);

  &-item {
    display: block;
    padding: $card-spacer-x;
    border-top: $card-border-width solid $card-border-color;

    &:first-child {
      border: 0;
    }

    @include media-breakpoint-up(sm) {
      width: 50%;
      float: left;
      border-top: 0;
      border-left: $card-border-width solid $card-border-color;
    }

    &-full-width {
      width: 100%;
      float: none;
    }
  }

  &-label,
  &-value {
    font-weight: bold;
    line-height: 1.25;
    display: block;
  }

  &-value {
    font-size: $h2-font-size;

    small {
      font-size: 50%;
      font-weight: 400;
    }
  }
}

.web-design-pricing {
  &-wrapper {
    color: $light;
    background-color: $dark;
    line-height: 1;
    max-width: 33.75rem;
    border-radius: $border-radius;
  }

  &-item {
    font-weight: bold;
    margin-bottom: .5rem;
  }

  &-value {
    color: $white;
    font-family: $headings-font-family;
    font-size: 4rem;
    font-weight: $headings-font-weight;
    letter-spacing: -0.2rem;
  }

  &-currency {
    font-size: 2.5rem;
    padding-right: .25rem;
  }

  &-pence {
    font-size: .5em;
    position: relative;
    top: -0.7em;
  }

  &-interval {
    color: $text-muted;
    margin-left: -0.5rem;
  }

  &-arrow {
    &::after {
      content: " ";
      background: url(../img/pages/web-design/pricing-arrow.png) no-repeat center;
      background-size: contain;
      position: absolute;
      top: 0;
      right: -10px;
      bottom: 0;
      display: block;
      width: 60px;
    }
  }
}

.feature-item {
  margin-bottom: 1.5rem;
}
