@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";

body {
  background-image: url(../img/bg.png);
  background-repeat: repeat;
}

abbr[title] {
  text-decoration: none;
}

b,
strong {
  font-weight: 700;
}

.site-header {
  padding-top: $spacer-y * 3;
  padding-bottom: $spacer-y * 3;


}

.navbar-light {
  .navbar-brand {
    color: $gray-dark;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 45px;
    background-image: url(../img/logo@2x.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 35px 30px;

    @include hover-focus {
      color: $brand-primary;
      text-decoration: none;
    }
  }

  .navbar-brand,
  .navbar-nav {
    text-shadow: 0 .075rem 0 #fff;
  }

  .navbar-toggler {
    background-color: #fff;
  }
}

.site-footer {
  color: lighten($gray-light, 15%);
  text-shadow: 0 1px 0 rgba(#000, .3);
  background-color: $gray-dark;
  padding-top: $spacer-y * 3;
  padding-bottom: $spacer-y * 3;
}

.jumbotron-home {
  background-color: $gray-dark;

  h1 {
    color: $gray-lightest;
    text-shadow: 0 .1rem .1rem rgba(#000, .6);

    strong {
      color: #fff;
      font-weight: inherit;
    }
  }
}

.form-control-label {
  color: $headings-color;
  font-weight: 700;
}

.client-list {
  @extend .list-inline;
}

.client-item {
  @extend .list-inline-item;
}

#other-services {
  @include media-breakpoint-up(sm) {
    article {
      &:first-child {
        text-align: left;
      }
      &:last-child {
        text-align: right;
      }
    }
  }
}

.project-list {
  @include list-unstyled;
  @include make-row;
  margin-bottom: 0;
}

.project-item {
  @include make-col(12);
  padding-right: $grid-gutter-width-base / 2;
  padding-left: $grid-gutter-width-base / 2;

  @include media-breakpoint-up(md) {
    @include make-col(6);
  }

  @include media-breakpoint-up(xl) {
    @include make-col(4);
  }
}

.card-project {
  height: 0;
  padding-bottom: percentage(9 / 16);
  border: 0;
  overflow: hidden;

  .card-img-overlay {
    text-shadow: 0 .1rem .1rem rgba(#000, .6);
    background-color: rgba(#000, .8);
    opacity: 1;
    box-shadow: inset 0 0 5rem rgba(#000, .3);
    @include transition(opacity .3s);
  }

  .card-title {
    font-size: $font-size-h4;

    @include media-breakpoint-up(md) {
      font-size: $font-size-h3;
    }

    @include media-breakpoint-up(lg) {
      font-size: $font-size-h2;
    }
  }

  @include plain-hover-focus {
    .card-title {
      color: #fff;
    }

    .card-text {
      color: rgba(#fff, .6);
    }
  }

  @include hover-focus {
    .card-img-overlay {
      opacity: 0;
    }
  }
}

.card-service {
  @extend .card-project;

  .card-img {
    width: 100%;
    height: auto;
  }

  .card-title {
    @include media-breakpoint-up(xl) {
      font-size: $font-size-h1;
    }
  }
}

.client-item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  opacity: .6;
  @include transition(opacity .3s);

  @include hover-focus {
    opacity: 1;
  }

  &:not(:last-child) {
    margin-right: $spacer-x;
    margin-bottom: $spacer-y;
  }

  &-bamma {
    background-image: url(../img/clients/bamma.png);
    width: 148px;
  }

  &-big-time-wrestling {
    background-image: url(../img/clients/big-time-wrestling.png);
    width: 166px;
  }

  &-british-championship-wrestling {
    background-image: url(../img/clients/british-championship-wrestling.png);
    width: 103px;
  }

  &-british-wrestling-revolution {
    background-image: url(../img/clients/british-wrestling-revolution.png);
    width: 235px;
  }

  &-fight-factory-wrestling {
    background-image: url(../img/clients/fight-factory-wrestling.png);
    width: 174px;
  }

  &-ipw {
    background-image: url(../img/clients/ipw.png);
    width: 153px;
  }

  &-ironfist-wrestling {
    background-image: url(../img/clients/ironfist-wrestling.png);
    width: 84px;
  }

  &-ldn-wrestling {
    background-image: url(../img/clients/ldn-wrestling.png);
    width: 119px;
  }

  &-premier-british-wrestling {
    background-image: url(../img/clients/premier-british-wrestling.png);
    width: 116px;
  }

  &-preston-city-wrestling {
    background-image: url(../img/clients/preston-city-wrestling.png);
    width: 48px;
  }

  &-pro-wrestling-chaos {
    background-image: url(../img/clients/pro-wrestling-chaos.jpg);
    width: 159px;
  }

  &-revolution-pro-wrestling {
    background-image: url(../img/clients/revolution-pro-wrestling.png);
    width: 161px;
  }

  &-southside-wrestling {
    background-image: url(../img/clients/southside-wrestling.png);
    width: 227px;
  }

  &-whoa-tv {
    background-image: url(../img/clients/whoa-tv.png);
    width: 80px;
  }
}

.client-link {
  display: inline-block;
  width: 100%;
  height: 80px;
}

.client-name {
  @extend .sr-only;
}

.faq {
  &-question {
    font-size: $font-size-h5;
  }
}

.pricing {
  @include list-unstyled;
  @include clearfix;
  text-align: center;
  background-color: $card-bg;
  display: block;
  border: $card-border-width solid $card-border-color;
  border-radius: $card-border-radius;
  box-shadow: 0 .1rem .2rem rgba(#000, .075);

  &-item {
    display: block;
    padding: $card-spacer-x;
    border-top: $card-border-width solid $card-border-color;

    &:first-child {
      border: 0;
    }

    @include media-breakpoint-up(sm) {
      width: 50%;
      float: left;
      border-top: 0;
      border-left: $card-border-width solid $card-border-color;
    }

    &-full-width {
      width: 100%;
      float: none;
    }
  }

  &-label,
  &-value {
    font-weight: bold;
    line-height: 1.25;
    display: block;
  }

  &-value {
    font-size: $font-size-h2;

    small {
      font-size: 50%;
      font-weight: 400;
    }
  }
}

.blockquote-testimonial {
  border-left: 0;
  padding-left: 0;

  .highlight {
    @extend .mark;
  }
}

.img-thumbnail-shadow {
  box-shadow: 0 .1rem .2rem rgba(#000, .075);
}

@include media-breakpoint-down(sm) {
  .hidden-xs {
    display: none;
  }
}

.btn-lg {
  white-space: normal;
}

.offer-black-friday {
  del {
    font-weight: 300;
  }

  ins {
    font-weight: bold;
    text-decoration: none;
  }
}

body.inverse {
  color: $white;
  background-color: $black;
  background-image: none;

  h1 {
    color: $white;
  }

  .navbar-light {
    .navbar-nav .nav-link {
      color: rgba($white, .5);
      text-shadow: none;

      @include hover-focus {
        color: rgba($white, .7);
      }
    }
  }

  .navbar-brand {
    color: #fff;
    text-shadow: none;

    @include hover-focus-active {
      color: #f44336;
    }
  }

  .modal {
    color: $body-color;
  }

  .site-footer {
    color: $text-muted;
    text-align: center;
    background-color: transparent;
  }
}

.infowindow {
  font-family: $font-family-sans-serif;
  font-size: $font-size-sm;
  line-height: $line-height-base;
  padding: .5rem .25rem;
}

.infowindow-training-school {
  max-width: 25rem;

  &-name {
    font-size: $font-size-h4;
  }

  &-details {
    padding-left: 7.5rem;
    overflow: auto;

    > dt,
    > dd {
      float: left;
    }

    > dt {
      width: 7.5rem;
      margin-left: -7.5rem;
      clear: left;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-description {
    margin-bottom: .5rem;

    > p:last-child {
      margin-bottom: 0;
    }
  }

  &-opening-hours {
    margin-left: 6rem;

    > dt,
    > dd {
      float: left;
    }

    > dt {
      color: $text-muted;
      font-weight: 400;
      width: 6rem;
      margin-left: -6rem;
      clear: left;
    }

    > dd {
      margin-bottom: .25rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
