$brand-twitter: #1da1f2;
$brand-facebook: #3b5998;
$brand-linkedin: #0077b5;

.btn-twitter {
  @include button-variant($brand-twitter, $brand-twitter);
}

.btn-facebook {
  @include button-variant($brand-facebook, $brand-facebook);
}

.btn-linkedin {
  @include button-variant($brand-linkedin, $brand-linkedin);
}
