.section-heading {
  text-align: center;
  position: relative;
  margin-bottom: $headings-margin-bottom;
  padding-right: 2rem;
  padding-left: 2rem;

  &::before {
    content: " ";
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-top: -1px;
    border-top: .125rem solid $primary;
    z-index: 200;
  }

  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    font-size: $h4-font-size;
    background-color: $body-bg;
    position: relative;
    z-index: 300;
    display: inline-block;
    margin-bottom: 0;
    padding: 0 .75rem;

    @include media-breakpoint-up(lg) {
      font-size: $h3-font-size;
    }
  }
}
