.jumbotron-static-header {
  color: rgba($white, .75);
  background: $dark no-repeat top right;
  background-attachment: fixed;
  padding: 92px 0 0;

  .jumbotron-body {
    padding: $jumbotron-padding 0;

    @include media-breakpoint-up(sm) {
      padding-top: $jumbotron-padding * 2;
      padding-bottom: $jumbotron-padding * 2;
    }
  }

  @include media-breakpoint-up(lg) {
    padding-top: 108px;
  }

  h1,
  p {
    text-shadow: 0 1px 2px rgba($black, .75);
  }

  hr {
    border-color: rgba($text-muted, .25);
  }
}

.jumbotron-web-design {
  background-image: url(../img/pages/web-design/hero-bg.png);
}
