.card-project-v2 {
  .card-bg {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 110%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .1;
    filter: blur(2px);
  }

  .card-body {
    text-shadow: 0 1px 2px rgba($black, .75);
  }

  .card-title {
    position: relative;
    margin-bottom: $headings-margin-bottom;
    padding-bottom: .75rem;
    float: left;

    &::after {
      content: " ";
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      border-bottom: 2px solid $primary;
    }
  }

  .card-text {
    clear: left;
  }

  .media-left {
    width: 40%;
    max-width: 238px;
  }

  figure {
    @include box-shadow(0 .5rem 1rem rgba($black, .5));
  }
}
