.site-header {
  color: $white;
  background-color: $dark;
  border-bottom: .25rem solid $primary;

  .navbar-brand {
    @include text-hide();
    background: url(../img/logo@1x.png) no-repeat center;
    background-size: contain;
    width: 106px;
    height: 60px;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url(../img/logo@2x.png);
    }
  }

  .navbar-brand-text {
    font-family: Ubuntu, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
  }

  .nav-link {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;

    &.active {
      @include media-breakpoint-up(lg) {
        position: relative;

        &::before {
          content: " ";
          position: absolute;
          bottom: 0;
          right: .25rem;
          left: .25rem;
          border-bottom: .1875rem solid $red;
        }
      }
    }
  }
}

.site-header-static {
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 0;

  .nav-link {
    text-shadow: 0 1px 1px rgba($black, .75);
  }

  .navbar-collapse {
    background-color: $dark;
    margin-right: $grid-gutter-width / -2;
    margin-left: $grid-gutter-width / -2;
    padding: $grid-gutter-width / 2;
    z-index: 400;

    .navbar-nav {
      padding-top: 0 !important;
    }

    @include media-breakpoint-up(sm) {
      margin-right: 0;
      margin-left: 0;
    }

    @include media-breakpoint-up(lg) {
      background-color: transparent;
      padding: 0;
    }
  }
}
