<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    {% seo %}
    <title>{{ page.title | default: site.title | escape_once }}</title>
    <link href="/img/logo@2x.png" rel="preload" as="image" media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)" type="image/png" />
    <link href="https://pro.fontawesome.com" rel="preconnect dns-prefetch" />
    <link href="https://fonts.gstatic.com" rel="preconnect dns-prefetch" />
    <link href="https://connect.facebook.com" rel="preconnect dns-prefetch" />
    <link href="/css/app.css" rel="stylesheet" />
    {% include fonts.html %}
    {% include font-awesome.html %}
    {% include facebook-pixel.html %}
  </head>
  <body class="{{ page.body_class }}">
    {% include analytics.html %}
    {% include header.html %}
    {% include main.html %}
    {% include footer.html %}
    {% include toasts.html %}
    {% include quote.html %}
    {% include scripts.html %}
  </body>
</html>
