<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Martin Bean" />
    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt }}" />
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="fb:app_id" content="264294516930801" />
    <meta property="article:author" content="https://www.facebook.com/profile.php?id=512236167" />
    <meta property="article:publisher" content="https://www.facebook.com/yourfightsite" />
    {% if page.category and page.industry %}
    <meta property="article:section" content="{{ page.industry }} {{ page.category }}" />
    {% endif %}
    {% if page.excerpt %}
    <meta property="og:description" content="{{ page.excerpt }}" />
    {% endif %}
    {% if page.image %}
    <meta property="og:image" content="{{ page.image }}" />
    {% endif %}
    {% if page.layout == 'project' %}
    <meta property="og:image" content="{{ site.url }}/img/projects/large/{{ page.slug }}.jpg" />
    {% endif %}
    <meta property="og:locale" content="en_GB" />
    <meta property="og:site_name" content="Your Fight Site" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta name="twitter:card" content="summary{% if page.image %}_large_image{% endif %}" />
    <meta name="twitter:creator" content="@yourfightsite" />
    <meta name="twitter:description" content="{{ page.excerpt }}" />
    {% if page.image %}
    <meta name="twitter:image" content="{{ page.image }}" />
    {% endif %}
    {% if page.layout == 'project' %}
    <meta name="twiter:image" content="{{ site.url }}/img/projects/large/{{ page.slug }}.jpg" />
    {% endif %}
    <meta name="twitter:site" content="@yourfightsite" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <link href="//plus.google.com/+martinbean" rel="author" />
    <link href="//plus.google.com/+yourfightsite" rel="publisher" />
    <link href="{{ site.baseurl }}/favicon.ico" rel="shortcut icon" />
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{ site.baseurl }}/css/application.css" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Ubuntu:300,400,400italic,500,700" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <!--[if lt IE 9]>
      <script src="{{ site.baseurl }}/js/lib/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {% include analytics.html %}
    <header class="site-header" role="banner">
      <div class="container">
        <a class="site-title" href="{{ site.baseurl }}/" rel="home">Your Fight Site</a>
        <ul class="list-inline site-navigation" role="navigation">
          <li><a href="{{ site.baseurl }}/">Home</a></li>
          <li><a href="{{ site.baseurl }}/services">Services</a></li>
          <li><a href="{{ site.baseurl }}/our-work">Our work</a></li>
          <li>
            <a class="btn btn-primary" data-track-event data-event-category="button" data-event-label="Get a quote" href="mailto:{{ site.email }}?subject=Quote+request">Get a quote</a>
          </li>
          <li class="divider visible-xs"></li>
          <li>
            <a href="https://www.facebook.com/yourfightsite" rel="external" title="Your Fight Site on Facebook">
              <span aria-hidden="true" class="fa fa-facebook"></span>
              <span class="sr-only">Your Fight Site on Facebook</span>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/yourfightsite" rel="external" title="Your Fight Site on Twitter">
              <span aria-hidden="true" class="fa fa-twitter"></span>
              <span class="sr-only">Your Fight Site on Twitter</span>
            </a>
          </li>
          <li>
            <a href="https://plus.google.com/+yourfightsite" rel="external" title="Your Fight Site on Google+">
              <span aria-hidden="true" class="fa fa-google-plus"></span>
              <span class="sr-only">Your Fight Site on Google+</span>
            </a>
          </li>
        </ul>
      </div>
    </header>
    <main class="site-main" role="main">
      {{ content }}
    </main>
    <footer class="site-footer" role="contentinfo">
      <div class="container">
        <div class="clearfix">
          <p class="copyright">&copy; {{ "now"|date: "%Y" }} Your Fight Site. All rights reserved.</p>
          <ul class="contact-details fa-ul">
            <li>
              <span aria-hidden="true" class="fa fa-li fa-envelope"></span>
              <a href="mailto:{{ site.email }}">{{ site.email }}</a>
            </li>
            <li>
              <span aria-hidden="true" class="fa fa-li fa-phone"></span>
              +44 (0) 191 645 0245
            </li>
            <li>
              <span aria-hidden="true" class="fa fa-li fa-map-marker"></span>
              Based in <strong>Newcastle upon Tyne, <abbr class="initialism" title="United Kingdom">UK</abbr></strong>
            </li>
          </ul>
        </div>
        <p class="legal text-center">
          <small>“Your Fight Site” is a trading name of MCB Web Design <abbr title="Limited">Ltd</abbr>.
            Company &numero; 09017111.
            Registered in England &amp; Wales.</small>
        </p>
      </div>
    </footer>
    <script src="{{ site.baseurl }}/js/lib/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/lib/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/js/application.js"></script>
  </body>
</html>
