---
layout: default
---
<article class="project" itemscope itemtype="http://schema.org/CreativeWork">
  <div class="container">
    <header class="page-header">
      <h1 class="page-title" itemprop="name">{{ page.title }}</h1>
    </header>
    <div class="project-description" itemprop="description">
      {{ content }}
    </div>
    <div class="text-center">
      <a class="btn btn-secondary" href="/web-design">
        <span aria-hidden="true">&larr;</span>
        <span class="btn-text">Back to web design</span>
      </a>
      {% if page.website_url %}
        <a class="btn btn-primary" href="http://{{ page.website_url }}/" rel="external" itemprop="url">
          <span class="btn-text">Visit {{ page.title }} website</span>
          <span aria-hidden="true">&rarr;</span>
        </a>
      {% endif %}
    </div>
  </div>
</article>
