---
layout: master
---
<article class="container" itemscope itemtype="http://schema.org/CreativeWork">
  <link itemprop="mainEntityOfPage" href="{{ page.url }}" />
  <figure>
    <img src="{{ site.baseurl }}/img/projects/large/{{ page.slug }}.jpg" alt="{{ page.title }}" class="center-block img-responsive" />
  </figure>
  <div class="project-details">
    <h1 class="project-name" itemprop="name">{{ page.title }}</h1>
    {% if page.website_url %}
      <p>
        <span aria-hidden="true" class="fa fa-globe"></span>
        <a href="http://{{ page.website_url }}" itemprop="url" rel="external">{{ page.website_url }}</a>
      </p>
    {% endif %}
    <div class="project-description" itemprop="description">
      {{ page.content }}
    </div>
    <ul class="pager">
      <li>
        <a href="{{ site.baseurl }}/our-work/">
          <span aria-hidden="true">&larr;</span>
          Back to projects
        </a>
      </li>
    </ul>
  </div>
</article>
